@charset "UTF-8";
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  padding-inline: 5rem;
  letter-spacing: 0.2rem;
  color: #777777;
}

.container {
  background-color: #f7f7f7;
  position: relative;
  z-index: 0;
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.margin-vertical-small {
  margin-block-end: 1rem;
}

.margin-bottom-20px {
  margin-block-end: 2rem;
}

.margin-vertical-big {
  margin-block-end: 4rem;
}

.margin-bottom-50px {
  margin-block-end: 5rem;
}

.margin-bottom-80px {
  margin-block-end: 8rem;
}

.text-align-center {
  text-align: center;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #f7f7f7;
}

.title-first__main {
  display: block;
  color: #fff;
  font-weight: 800;
  font-size: 4.6rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation: leftToRight 1.7s ease 1s;
  backface-visibility: hidden;
}
.title-first__secondary {
  display: block;
  color: #fff;
  font-weight: 200;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  animation: RightToLeft 1.7s ease 1s;
  backface-visibility: hidden;
  margin-bottom: 6.5rem;
}

.title-second {
  font-size: 3.6rem;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  letter-spacing: 1rem;
  background: linear-gradient(rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: transform 0.3s;
}
.title-second_white {
  color: #fff;
}
.title-second:hover {
  transform: skewX(3deg) skewY(2deg) scale(1.05);
  backface-visibility: hidden;
}

.title-third {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #777777;
  text-transform: uppercase;
}

.section__paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
  color: #777777;
  text-align-last: center;
}

.icon-Vector,
.icon-Vector-1,
.icon-Vector-2,
.icon-Vector-3 {
  display: inline-block;
  font-size: 2.5rem;
  background: linear-gradient(rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Стили компонентов*/
.btn, .btn:link, .btn:visited {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff;
  color: #777777;
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  transition: all 0.3s;
  font-size: 2rem;
  border: none;
}
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.7);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.3);
}
.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: inline-block;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn_animated {
  animation: btnToUp 0.4s ease-out 0.7s;
  animation-fill-mode: backwards;
}
.btn_brown, .btn_brown:link, .btn_brown:visited {
  background-color: #a14f03;
  color: #fff;
}

.btn-text:link, .btn-text:visited {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  color: #ba8554;
  padding: 1.5rem 4rem;
  border-bottom: 1px solid #ba8554;
  transition: all 0.3s;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
}
.btn-text:hover {
  transform: translateY(-0.4rem);
  background-color: #ba8554;
  color: #fff;
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.3);
}
.btn-text:active {
  transform: translateY(0rem);
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.3);
}

.gallery {
  position: relative;
  z-index: 10;
}
.gallery__img {
  position: absolute;
  width: 55%;
  border-radius: 0.5rem;
  outline-offset: 1rem;
  transition: all 0.2s;
}
.gallery__img_n1 {
  top: 0;
  left: 0;
}
.gallery__img_n2 {
  top: 5rem;
  right: 0;
}
.gallery__img_n3 {
  top: 12rem;
  left: 1rem;
}
.gallery__img:hover {
  z-index: 20;
  transform: scale(1.1);
  outline: 1rem solid #ba8554;
}
.gallery:hover .gallery__img:not(:hover) {
  transform: scale(0.95);
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  text-align: center;
  width: 24rem;
  height: 30rem;
}
.card > p {
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}

.card-tour {
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}
.card-tour__side {
  position: absolute;
  top: 0;
  left: 0;
  height: 50rem;
  transition: all 0.7s ease-out;
  backface-visibility: hidden;
  overflow: hidden;
  color: #fff;
  width: 34rem;
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}
.card-tour__side_front {
  background: #fff;
}
.card-tour__side_back {
  background: linear-gradient(120deg, #ba8554, #a14f03);
  transform: rotateY(180deg);
}
.card-tour:hover .card-tour__side_front {
  transform: rotateY(-180deg);
}
.card-tour:hover .card-tour__side_back {
  transform: rotateY(0deg);
}
.card-tour__img {
  background-blend-mode: hard-light;
  height: 21rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.card-tour__img_1 {
  background: #ba8554 url(/image/group.jpg) center/cover no-repeat;
}
.card-tour__img_2 {
  background: #ba8554 url(/image/private.jpg) center/cover no-repeat;
}
.card-tour__img_3 {
  background: #ba8554 url(/image/observation.jpg) center/cover no-repeat;
}
.card-tour__title {
  font-size: 2.8rem;
  text-transform: uppercase;
  text-align: right;
  font-weight: 300;
  color: #fff;
  position: absolute;
  top: 17rem;
  right: 0;
}
.card-tour__span {
  background: linear-gradient(90deg, #ba8554, #a14f03);
  padding: 1rem 2rem 0.3rem 2rem;
}
.card-tour__span_2 {
  position: absolute;
  top: 3.4rem;
  right: 0;
  padding-bottom: 1rem;
  padding-top: 0rem;
}
.card-tour__descr ul {
  list-style: none;
  text-align: center;
  width: 75%;
  margin: 0 auto;
}
.card-tour__descr li {
  color: #777777;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  display: inline-block;
  border-bottom: 0.1rem solid #777777;
}
.card-tour__descr li:not(:last-child) {
  margin-block-end: 2rem;
}
.card-tour__backside_box {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-tour__text {
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-block-end: 8rem;
}
.card-tour__text_1 {
  font-size: 1.6rem;
  font-weight: 300;
}
.card-tour__text_2 {
  font-size: 6rem;
  font-weight: 500;
}

.feedback__card {
  background-color: rgba(255, 255, 255, 0.85);
  transform: skewX(-15deg);
  width: 85%;
  padding: 7rem 10rem;
  position: relative;
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.3);
}
.feedback__card > * {
  transform: skewX(15deg);
}
.feedback__card_img {
  float: left;
  width: 17rem;
  aspect-ratio: 1;
  border-radius: 10rem;
  shape-outside: circle(50% at 50% 50%);
  margin-inline-end: 4rem;
  transition: all 0.5s ease;
}
.feedback__card_name {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.2rem;
  width: 50%;
  z-index: 2;
  opacity: 0;
  transition: all 0.3s ease;
}
.feedback__card:hover img {
  position: absolute;
  transform: scale(1);
  filter: blur(0.2rem) brightness(80%);
}
.feedback__card:hover .feedback__card_name {
  position: absolute;
  opacity: 1;
}
.feedback__photo {
  width: 100%;
  border-radius: 10rem;
  transform: scale(1.2);
}
.feedback__descr {
  color: #777777;
  text-wrap: pretty;
}

.video__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}

.bg__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(rgba(186, 133, 84, 0.6), rgba(0, 0, 0, 0.6));
}

.book {
  height: 50rem;
  width: 114rem;
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 60%, rgba(186, 133, 84, 0.6) 50%, rgba(161, 79, 3, 0.6) 100%), url(../image/book-bg.jpg) center/cover no-repeat;
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
}

.form {
  width: 70%;
  padding-top: 5rem;
  padding-left: 5rem;
}
.form__block:not(:last-child) {
  margin-bottom: 5rem;
}
.form__input {
  border-radius: 0.5rem;
  border: none;
  border-bottom: 3px solid transparent;
  padding: 2rem 0 2rem 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 100%;
  color: #000;
  background-color: #fff;
  transition: all 0.3s ease;
  width: 60%;
}
.form__input:focus {
  outline: none;
  border-bottom: 0.3rem solid #66D763;
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.3);
}
.form__input:focus:invalid {
  border-bottom: 0.3rem solid #D76363;
}
.form__label {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 100%;
  display: block;
  color: #777777;
  margin-top: 1rem;
  margin-left: 1.5rem;
  transition: 0.2s all;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: none;
  transform: translateY(-3rem);
}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(rgba(161, 79, 3, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url("../image/header_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo {
  position: absolute;
  top: 5rem;
  left: 5rem;
  height: 7rem;
  width: 5.6rem;
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}

.col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.footer {
  background-color: #333333;
  padding-block: 8rem;
  color: #fff;
}
.footer__list {
  text-align: center;
  list-style: none;
  text-transform: uppercase;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 5rem;
}
.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: #777777;
  transition: all 0.4s;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-align: left;
}
.footer__link:hover {
  color: #a14f03;
  transform: rotate(5deg) scale(1.05);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navigation {
  position: relative;
}
.navigation__toggle {
  display: none;
}
.navigation__button {
  background-color: #fff;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 5rem;
  right: 7rem;
  z-index: 200;
  cursor: pointer;
  text-align: center;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::after, .navigation__icon::before {
  width: 30px;
  height: 2px;
  background-color: #777777;
  display: inline-block;
}
.navigation__icon::after, .navigation__icon::before {
  content: "";
  position: absolute;
  left: 0;
}
.navigation__icon::before {
  top: -10px;
}
.navigation__icon::after {
  top: 10px;
}
.navigation__background {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: radial-gradient(#a14f03, #ba8554);
  position: fixed;
  top: 6rem;
  right: 8rem;
  z-index: 100;
  transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  opacity: 0;
  width: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__list {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  color: #fff;
  width: 100%;
}
.navigation__item {
  text-align: center;
  padding: 1rem 2rem;
}
.navigation__item:not(:last-child) {
  margin-bottom: 5rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s;
}
.navigation__link:hover, .navigation__link:active {
  color: #a14f03;
  background-position: 100%;
  transform: translateX(1rem);
}
.navigation__link:focus-visible {
  outline: none;
}
.navigation__toggle:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__toggle:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__button:hover .navigation__icon::before {
  top: -10px;
}
.navigation__button:hover .navigation__icon::after {
  top: 10px;
}
.navigation__toggle:checked + .navigation__button .navigation__icon {
  background: transparent;
}
.navigation__toggle:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__toggle:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.section__about {
  padding-block: 8rem;
}

.section__adventure {
  padding-block: 20rem;
  margin-bottom: 8rem;
  background-image: linear-gradient(rgba(186, 133, 84, 0.7), rgba(161, 79, 3, 0.7)), url("../image/adveture_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: skewY(7deg);
}
.section__adventure > * {
  transform: skewY(-7deg);
}

.section__tour {
  padding-block-start: 21rem;
}

.section__feedback {
  position: relative;
  padding-block: 8rem;
}

.section__book {
  padding-block: 10rem;
  background-image: linear-gradient(90deg, rgba(186, 133, 84, 0.04), #a14f03);
}