.card{
    background-color: rgba($color: $color-white, $alpha: .8);
    padding: 2.5rem;
    text-align: center;
    width: 100%;
    height: 30rem;

   & > p {
    letter-spacing: .2rem;
    font-size: 1.5rem;
   }

   @include respond(tab-land){
    padding: 1rem;
   }
   

}