.card{
    background-color: rgba($color: $color-white, $alpha: .8);
    padding: 2.5rem;
    text-align: center;
    width: 24rem;
    height: 30rem;
   & > p {
    letter-spacing: .2rem;
    font-size: 1.5rem;
   }
}