.card-tour {
    height: 50rem;
    width: 100%;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    @include respond(tab-port){
        height: auto;
    }
   
    &__side {
        position: absolute;
        top: 0;
        left: 0;
        height: 50rem;
        transition: all .7s ease-out;
        backface-visibility:hidden;
        overflow: hidden;
        color: #fff;
        width: 100%;
        box-shadow: $box-shadow;
        border-radius: .5rem;
        @include respond(tab-port){
            height: auto;
            position: relative;
        }
        &_front {
            background: $color-white;
            @include respond(tab-port) {
                padding-bottom: 13rem;
                
               

            }
            
        }
        &_back {
            width: 100%;
            background: linear-gradient(120deg, $color-brown-light, $color-brown-dark);
            transform: rotateY(180deg);

            @include respond(tab-port) {
                transform: rotateY(0deg);
                clip-path:polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
                padding: 5rem;
                padding-top: 10rem;
                margin-top: -13rem;
               
            }

        }
    }
    &:hover &__side_front {
        transform: rotateY(-180deg);

        @include respond(tab-port) {
            transform: rotateY(0deg)

        }

    }
    &:hover &__side_back {
        transform: rotateY(0deg)
    }
    &__img {
        background-blend-mode: hard-light;
        height: 21rem;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
        
        @include respond(tab-port){
            height: 30rem;
        }
        &_1 {
            background: $color-brown-light url(/images/group-800.jpg) center / cover no-repeat;

            @media (min-resolution: 192dpi) and (min-width:670px), (min-width:1340px){
                background: $color-brown-light url(/images/group.jpg) center / cover no-repeat;
            }

            @media (min-resolution:192dpi) and (min-width:320px) {
                background: $color-brown-light url(/images/group-320.jpg) center / cover no-repeat;
            }
        }
        &_2 {
            background: $color-brown-light url(/images/private-800.jpg) center / cover no-repeat;

            @media (min-resolution: 192dpi) and (min-width:670px), (min-width:1340px){
                background: $color-brown-light url(/images/private.jpg) center / cover no-repeat;
            }

            @media (min-resolution:192dpi) and (min-width:320px) {
                background: $color-brown-light url(/images/private-320.jpg) center / cover no-repeat;
            }
        }
        &_3 {
            background: $color-brown-light url(/images/observation-800.jpg) center / cover no-repeat;

            @media (min-resolution: 192dpi) and (min-width:670px), (min-width:1340px){
                background: $color-brown-light url(/images/observation.jpg) center / cover no-repeat;
            }

            @media (min-resolution:192dpi) and (min-width:320px) {
                background: $color-brown-light url(/images/observation-320.jpg) center / cover no-repeat;
            }
        }
    }
    &__title {
        font-size: 3.8rem;
        text-transform: uppercase;
        text-align: right;
        font-weight: 300;
        color:$color-white;
        position: absolute;
        top:17rem;
        right: 0;
        @include respond(tab-land){
            font-size: 3rem;
            margin-bottom: 2rem;
        }
        @include respond(tab-port) {
            font-size: 2.8rem;
            top: 25rem;
            
        }
    }
    &__span {
        background:linear-gradient(90deg, $color-brown-light, $color-brown-dark);
        padding: 1rem 2rem .3rem 2rem;
        &_2 {
            position: absolute;
            top: 3.4rem;
            right: 0;
            padding-bottom: 1rem;
            padding-top: 0rem;
            @include respond(tab-port){
                top: 3rem;

            }
        }

    }
    &__descr {
        ul {
            list-style: none;
            text-align: center;
            width: 75%;
            margin: 0 auto;
        }
        li{
            color:$color-grey;
            font-size: $font-size-paragraph;
            letter-spacing: .2rem;
            font-weight: 700;
            display: inline-block;
            border-bottom: .1rem solid $color-grey;
            &:not(:last-child){
                margin-block-end: 1lh;
            }
            @include respond(tab-port){
                font-size: 2.8rem;
                margin-block-end: 1lh;
            }


        }
    }



    &__backside_box {
        // width: 100%;
        @include centerAbc;

        @include respond(tab-port){
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0%, 0%);
            text-align: center;
            padding: 5rem;
            padding-top: 10rem;
        }
        
    }
    &__text {
        text-align: center;
        letter-spacing: .2rem;
        text-transform: uppercase;
        margin-block-end: 8rem;
        &_1 {
            font-size: $font-size-paragraph;
            font-weight: 300;
        }
        &_2 {
            font-size: 6rem;
            font-weight: 500;
        }

        
        


    }

}
