.section__about {
    padding-block: 8rem;

    @include respond(tab-land) {
        padding-inline: 6rem;
    }

   
}
.section__adventure {
    padding-block: 20rem;
    margin-bottom: 8rem;
    background-image: linear-gradient(rgba($color-brown-light, 0.7), rgba($color-brown-dark, 0.7)),
        url("../images/adveture_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: skewY(7deg);


    & > * {
        transform: skewY(-7deg);
    }

    @include respond(tab-land) {
        padding-inline: 5rem;
        padding-block: 13rem;
        margin-bottom: 6rem;
    }
}

.section__tour {
    padding-block-start: 21rem;

    @include respond(tab-port) {
        padding-inline: 5rem;
    }
}
.section__feedback {
    position: relative;
    padding-block: 8rem;

    @include respond(tab-port) {
        padding-inline: 5rem;
    }
}

.section__book {
    padding-block: 10rem;
    background-image: linear-gradient(90deg, rgba($color-brown-light, 0.04), rgba($color-brown-dark, 1));

    @include respond(tab-land) {
        padding-block: 7rem;
    }
}
