.section__about {
    padding: 8rem 0;
}
.section__adventure {
    padding-block: 20rem;
    background-image: linear-gradient(rgba($color-brown-dark, 0.7) 0.03%, rgba($color-black, 0.7) 99.94%), url('../image/adveture_bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: skewY(7deg);
    & > *{
        transform: skewY(-7deg);
    }
}
