.navigation {
    position: relative;
    &__toggle {
        display: none;
    }

    &__button {
        background-color: rgb(248, 222, 222);
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 5rem;
        right: 7rem;
        z-index: 200;
        cursor: pointer;
        text-align: center;

        @include respond(tab-land) {
            right: 10rem;
            
        }
    }
    &__icon {
        position: relative;
        margin-top: 3.5rem;
        &,
        &::after,
        &::before {
            width: 3rem;
            height: .2rem;
            background-color: $color-grey;
            display: inline-block;
        }
        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 0;
        }
        &::before {
            top: -1rem;
        }
        &::after {
            top: 1rem;
        }
    }
    &__background {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background: radial-gradient($color-brown-dark, $color-brown-light);
        position: fixed;
        top: 6rem;
        right: 8rem;
        z-index: 100;
        transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);

        @include respond(tab-land) {
            right: 11rem;
            
        }
    }
    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 150;

        opacity: 0;
        width: 0;
        transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }
    &__list {
        @include centerAbc;

        list-style: none;
        color: $color-white;
        width: 100%;
    }
    &__item {
        text-align: center;
        padding: 1rem 2rem;
        &:not(:last-child) {
            margin-bottom: 5rem;
        }
    }
    &__link {
        &:link,
        &:visited {
            display: inline-block;
            text-decoration: none;
            color: $color-white;
            text-transform: uppercase;
            font-size: 4rem;
            font-weight: 300;
            letter-spacing: 0.5rem;
            background: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 220%;
            transition: all 0.4s;
        }
        &:hover,
        &:active {
            color: $color-brown-dark;
            background-position: 100%;
            transform: translateX(1rem);
        }
        &:focus-visible {
            outline: none;
        }
    }
    &__toggle:checked ~ &__background {
        transform: scale(80);
    }
    &__toggle:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }
    &__button:hover &__icon::before {
        top: -1rem;
    }
    &__button:hover &__icon::after {
        top: 1rem;
    }
    &__toggle:checked + &__button &__icon {
        background: transparent;
    }
    &__toggle:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }
    &__toggle:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}
