.book {
    width: 100%;
    padding: 5rem;
    background: linear-gradient(115deg, rgba(255,255,255,.9) 55%, rgba(186,133,84,0.7) 56%, rgba(161,79,3,0.8) 100%), url(../image/book-bg.jpg) center/cover no-repeat;
    box-shadow: $box-shadow;
    

}