.book {
    height: 50rem;
    width: $grid-width;
    background:  linear-gradient(115deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 50%, rgba(186,133,84,0.6) 50%, rgba(161,79,3,0.6) 100%), url(../image/book-bg.jpg) center / cover no-repeat;
    box-shadow: $box-shadow;
   

}
.form {
    width: 60%;
    padding-top: 5rem;
    padding-left: 5rem;
    &__block:not(:last-child) {
        margin-bottom: 2rem;  
    }
    &__input {
        border-radius: .5rem;
        border: none;
        border-bottom: 3px solid transparent;
        padding: 2rem 0 2rem 2rem;
        @include fontText;
        color: $color-black;
        background-color: $color-white;
        transition: all .3s ease;
        width: 50%;
        &:focus {
            outline: none;
            border-bottom:3px solid #D76363;
            box-shadow:$box-shadow;
            &:not(:invalid),  .form__input:empty {
                border-bottom:3px solid #66D763;
            }
        }
        &:placeholder-shown + &__label {
            opacity: 0;
        }

    }
    &__label {
        @include fontText;
        display: block;
        color:$color-grey;
    }



}
