.card{
    background-color: rgba($color: $color-white, $alpha: .8);
    padding: 2.5rem;
    text-align: center;
    width: 24rem;
    height: 30rem;
    line-height: auto;
    letter-spacing: 2px;
}