.card__tour {
    height: 50rem;
    background-color:black;
    perspective: 150rem;
    -moz-perspective: 150rem;
    transition: all .7s ease-out;
    position: relative;
    &_side {
        position: absolute;
        top: 0;
        left: 0;
        height: 50rem;
        transition: all .7s;
        backface-visibility:hidden;
        overflow: hidden;
        color: #fff;
        width: 34rem;
        // &-front {
        //     // background:red;
        // }
        &-back {
            background: linear-gradient(120deg, $color-brown-light, $color-brown-dark);
            transform: rotateY(180deg);
        }
    }
    &:hover &_side-front {
        transform: rotateY(-180deg);
        
    } 
    &:hover &_side-back {
        transform: rotateY(0deg);
        
    }
}
