*,::after, ::before {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color:#fff;
    padding: 5rem;
    letter-spacing: .2rem;
    
}
.container {
    background-color: $color-white;
    // width: clamp(36rem, 90vw, 102.4rem);
}