*,::after, ::before {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color:$color-white;
    padding: 5rem;
    letter-spacing: .2rem;
    color:$color-grey;
    
}
.container {
    background-color: $color-grey-light;
    position: relative;
    z-index: 0;
    width: 134rem;
}