@mixin clearfix {
    content: "";
    display: table;
    clear: both;
}

@mixin centerAbcolute {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin fontText {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: .2rem;
    line-height: 100%;
}