$color-gray-light: #777777;
$color-brown-dark:#A14F03;
$color-brown-light: #BA8554;

$color-white: #fff;
$color-black: #000;

$box-shadow: 0rem .4rem .4rem 0rem rgba($color-black, 0.3);
$text-shadow:0px 4px 4px rgba(0,0,0,0.25);

$grid-width: 114rem;
$margin-vertical-big: 8rem;
$gutter-horizontal: 6rem;

//Типографика

$font-size-paragraph:1.6rem;
$font-size-h2:3.6rem;
$font-size-h3:2rem;